<input type="text" [(ngModel)]="title">

{{ title }} 

<ul [ngSwitch]="title">
  <li *ngSwitchCase="'uno'">Primera Opcion</li>
  <li *ngSwitchCase="'dos'">Segunda Opcion</li>
  <li *ngSwitchCase="'tres'">Tercera Opcion</li>
  <li *ngSwitchCase="'cuatro'">Cuarta Opcion</li>
  <li *ngSwitchDefault>No hace Match con ninguno</li>
</ul>


<h1>{{movie.name}}</h1> 
<h5>{{movie.description}}</h5>
<button (click)="mostrar()">Mostrar Información</button>
<button (click)="ocultar()">Ocultar Información</button>
<div *ngIf="mostrarNgIf">
  <h1>Uso de NgIf</h1>
</div>
<button (click)="addMovie()">Añadir Movie</button>
<ul>
  <li *ngFor="let movie of movies;index as i">
    {{movie}} {{i}}
    <button (click)="deleteMovie(i)">Eliminar</button>
  </li>
</ul>
<h1>Lista de Peliculas</h1>

<div *ngFor="let movie of moviesObj;index as i">
  <img [src]="movie.imagen" alt="">
  <h2>{{movie.name}}</h2>
  <p>{{movie.genero}}</p>
  <strong>{{movie.price}}</strong>
</div>


